.input-count {
  width: 60px;
  text-align: center;
  font-size: 15px;
}

.btn-custom {
  text-decoration: none;
  padding: 7px;
  padding-top: 6px !important;
  font-weight: 600;
  color: #000;
  background-color: #fff !important;
  width: 30px;
  height: 35px;
}

@media (max-width: 992px) {
  .grid-images {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: -15px !important;
    margin-left: -15px !important;
  }
  .images-to-row {
    width: 130px !important;
    height: 170px !important;
    margin-right: 1rem;
  }
}
